In [1]:
#Exporting current_weather data with API call from OpenWeatherMap site
import requests
import json
import pandas as pd

#Defining the jprint func to print out json output as formatted string
def jprint(obj):
    # create a formatted string of the Python JSON object
    text = json.dumps(obj, sort_keys=True, indent=4)
    print(text)

url = "http://api.openweathermap.org/data/2.5/weather?id=6544259&appid=6c80b405e6aea2f6e872dfc3a94fe4b9&lang=en&units=metric"
current_weather = requests.get(url).json()
jprint(current_weather)

{
    "base": "stations",
    "clouds": {
        "all": 53
    },
    "cod": 200,
    "coord": {
        "lat": 52.3686,
        "lon": 5.2375
    },
    "dt": 1612086274,
    "id": 6544259,
    "main": {
        "feels_like": -5.32,
        "humidity": 88,
        "pressure": 1004,
        "temp": -1.64,
        "temp_max": 0.56,
        "temp_min": -2.22
    },
    "name": "Gemeente Almere",
    "sys": {
        "country": "NL",
        "id": 2036661,
        "sunrise": 1612077703,
        "sunset": 1612110190,
        "type": 3
    },
    "timezone": 3600,
    "visibility": 10000,
    "weather": [
        {
            "description": "broken clouds",
            "icon": "04d",
            "id": 803,
            "main": "Clouds"
        }
    ],
    "wind": {
        "deg": 114,
        "gust": 3.13,
        "speed": 1.79
    }
}

In [2]:
#As the output is having mixed dicts type with other strings, I modify it to all strings output for csv output
current_weather['clouds_all'] = 100
current_weather['coord_lat'] = 52.3686
current_weather['coord_lon'] = 5.2375
current_weather['feels_like'] = -1.25
current_weather['humidity'] = 88
current_weather['pressure'] = 998
current_weather['temp'] = 1.14
current_weather['temp_max'] = 2.22
current_weather['temp_min'] = 0.56
current_weather['country'] = "NL"
current_weather['city_id'] = 2036661
current_weather['sunrise'] = 1611473504
current_weather['sunset'] = 1611504617
current_weather['type'] = 3
current_weather['weather_description'] = "overcast clouds"
current_weather['weather_icon'] = "04n"
current_weather['weather_id'] = 804
current_weather['weather_main'] = "Clouds"
current_weather['wind_deg'] = 95
current_weather['wind_gust'] = 1.04
current_weather['wind_speed'] = 0.45

del(current_weather['clouds'])
del(current_weather['coord'])
del(current_weather['main'])
del(current_weather['sys'])
del(current_weather['weather'])
del(current_weather['wind'])

jprint(current_weather)

{
    "base": "stations",
    "city_id": 2036661,
    "clouds_all": 100,
    "cod": 200,
    "coord_lat": 52.3686,
    "coord_lon": 5.2375,
    "country": "NL",
    "dt": 1612086274,
    "feels_like": -1.25,
    "humidity": 88,
    "id": 6544259,
    "name": "Gemeente Almere",
    "pressure": 998,
    "sunrise": 1611473504,
    "sunset": 1611504617,
    "temp": 1.14,
    "temp_max": 2.22,
    "temp_min": 0.56,
    "timezone": 3600,
    "type": 3,
    "visibility": 10000,
    "weather_description": "overcast clouds",
    "weather_icon": "04n",
    "weather_id": 804,
    "weather_main": "Clouds",
    "wind_deg": 95,
    "wind_gust": 1.04,
    "wind_speed": 0.45
}

In [3]:
with open('current_weather.json', 'w') as outfile:
    json.dump(current_weather, outfile)

In [4]:
df = pd.read_json (r'C:\Users\ams-duongn.EXPEDITORS\Desktop\learn\Data Science Master\M3W2\current_weather.json', typ='series')
df.to_csv (r'C:\Users\ams-duongn.EXPEDITORS\Desktop\learn\Data Science Master\M3W2\current_weather_data.csv')

In [7]:
#Exporting 5-day / 3-hour forecast data with API call from OpenWeatherMap site
import requests
url = "http://api.openweathermap.org/data/2.5/forecast?id=6544259&appid=6c80b405e6aea2f6e872dfc3a94fe4b9&lang=en&units=metric"
weather_forecast = requests.get(url).json()
df = pd.json_normalize(weather_forecast['list'])
df

,dt,weather,visibility,pop,dt_txt,main.temp,main.feels_like,main.temp_min,main.temp_max,main.pressure,main.sea_level,main.grnd_level,main.humidity,main.temp_kf,clouds.all,wind.speed,wind.deg,sys.pod,rain.3h,snow.3h
0,1612094400,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0.00,2021-01-31 12:00:00,0.25,-4.99,0.25,2.24,1004,1004,1004,81,-1.99,54,4.14,89,d,NaN,NaN
1,1612105200,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0.00,2021-01-31 15:00:00,1.77,-3.71,1.77,2.71,1002,1002,1002,74,-0.94,87,4.53,87,d,NaN,NaN
2,1612116000,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0.00,2021-01-31 18:00:00,0.85,-5.87,0.85,1.02,999,999,1000,80,-0.17,96,6.34,94,n,NaN,NaN
3,1612126800,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0.00,2021-01-31 21:00:00,0.87,-5.96,0.87,0.89,997,997,997,82,-0.02,100,6.56,99,n,NaN,NaN
4,1612137600,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0.06,2021-02-01 00:00:00,0.96,-5.72,0.96,0.96,995,995,996,85,0.00,100,6.45,93,n,NaN,NaN
5,1612148400,"[{'id': 804, 'main': 'Clouds', 'description': ...",7809,0.37,2021-02-01 03:00:00,0.32,-5.58,0.32,0.32,993,993,994,95,0.00,100,5.51,82,n,NaN,NaN
6,1612159200,"[{'id': 500, 'main': 'Rain', 'description': 'l...",10000,0.42,2021-02-01 06:00:00,0.66,-4.73,0.66,0.66,994,994,994,92,0.00,100,4.77,66,n,0.73,NaN
7,1612170000,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0.12,2021-02-01 09:00:00,0.57,-4.56,0.57,0.57,995,995,995,93,0.00,100,4.40,55,d,NaN,NaN
8,1612180800,"[{'id': 500, 'main': 'Rain', 'description': 'l...",10000,0.28,2021-02-01 12:00:00,0.63,-4.15,0.63,0.63,997,997,997,92,0.00,100,3.88,31,d,0.15,NaN
9,1612191600,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0.00,2021-02-01 15:00:00,1.64,-2.66,1.64,1.64,998,998,998,86,0.00,98,3.22,12,d,NaN,NaN
10,1612202400,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0.00,2021-02-01 18:00:00,0.73,-4.01,0.73,0.73,1001,1001,1002,91,0.00,60,3.82,17,n,NaN,NaN
11,1612213200,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,0.00,2021-02-01 21:00:00,0.54,-3.64,0.54,0.54,1003,1003,1004,90,0.00,23,2.95,23,n,NaN,NaN
12,1612224000,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,0.00,2021-02-02 00:00:00,0.37,-1.84,0.37,0.37,1006,1006,1006,89,0.00,42,0.08,204,n,NaN,NaN
13,1612234800,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0.00,2021-02-02 03:00:00,0.23,-3.21,0.23,0.23,1006,1006,1006,90,0.00,51,1.83,192,n,NaN,NaN
14,1612245600,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0.00,2021-02-02 06:00:00,0.01,-4.22,0.01,0.01,1006,1006,1007,91,0.00,75,2.95,154,n,NaN,NaN
15,1612256400,"[{'id': 600, 'main': 'Snow', 'description': 'l...",10000,0.27,2021-02-02 09:00:00,0.78,-4.91,0.78,0.78,1005,1005,1005,86,0.00,100,5.04,137,d,NaN,0.16
16,1612267200,"[{'id': 601, 'main': 'Snow', 'description': 's...",70,0.93,2021-02-02 12:00:00,0.67,-6.45,0.67,0.67,1002,1002,1002,97,0.00,100,7.39,109,d,NaN,1.64
17,1612278000,"[{'id': 501, 'main': 'Rain', 'description': 'm...",10000,1.00,2021-02-02 15:00:00,2.17,-4.01,2.17,2.17,999,999,999,96,0.00,100,6.35,115,d,3.74,NaN
18,1612288800,"[{'id': 500, 'main': 'Rain', 'description': 'l...",8451,1.00,2021-02-02 18:00:00,3.43,-1.20,3.43,3.43,998,998,999,98,0.00,99,4.50,135,n,0.61,NaN
19,1612299600,"[{'id': 500, 'main': 'Rain', 'description': 'l...",10000,1.00,2021-02-02 21:00:00,7.03,1.15,7.03,7.03,999,999,999,91,0.00,99,6.98,225,n,0.84,NaN
20,1612310400,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0.74,2021-02-03 00:00:00,6.86,0.76,6.86,6.86,999,999,1000,91,0.00,67,7.25,225,n,NaN,NaN
21,1612321200,"[{'id': 500, 'main': 'Rain', 'description': 'l...",10000,0.29,2021-02-03 03:00:00,7.07,1.25,7.07,7.07,1000,1000,1000,91,0.00,61,6.91,227,n,0.25,NaN
22,1612332000,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0.00,2021-02-03 06:00:00,6.27,1.38,6.27,6.27,1001,1001,1001,93,0.00,79,5.45,221,n,NaN,NaN
23,1612342800,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0.00,2021-02-03 09:00:00,5.92,1.57,5.92,5.92,1000,1000,1000,95,0.00,96,4.66,190,d,NaN,NaN
24,1612353600,"[{'id': 500, 'main': 'Rain', 'description': 'l...",8436,0.70,2021-02-03 12:00:00,6.54,3.74,6.54,6.54,998,998,998,97,0.00,98,2.72,149,d,1.50,NaN
25,1612364400,"[{'id': 501, 'main': 'Rain', 'description': 'm...",10000,1.00,2021-02-03 15:00:00,6.71,2.13,6.71,6.71,995,995,995,97,0.00,100,5.31,133,d,4.18,NaN
26,1612375200,"[{'id': 501, 'main': 'Rain', 'description': 'm...",10000,1.00,2021-02-03 18:00:00,7.54,3.52,7.54,7.54,994,994,994,93,0.00,100,4.58,215,n,3.60,NaN
27,1612386000,"[{'id': 500, 'main': 'Rain', 'description': 'l...",10000,0.87,2021-02-03 21:00:00,6.97,3.18,6.97,6.97,996,996,996,96,0.00,100,4.22,250,n,0.76,NaN
28,1612396800,"[{'id': 500, 'main': 'Rain', 'description': 'l...",10000,0.93,2021-02-04 00:00:00,5.93,0.23,5.93,5.93,1001,1001,1002,93,0.00,100,6.50,316,n,0.34,NaN
29,1612407600,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0.28,2021-02-04 03:00:00,6.50,1.02,6.50,6.50,1007,1007,1007,88,0.00,100,6.13,279,n,NaN,NaN
30,1612418400,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0.08,2021-02-04 06:00:00,5.23,1.23,5.23,5.23,1011,1011,1011,93,0.00,100,3.88,247,n,NaN,NaN
31,1612429200,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,0.00,2021-02-04 09:00:00,5.73,1.50,5.73,5.73,1013,1013,1013,91,0.00,23,4.26,238,d,NaN,NaN
32,1612440000,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,0.00,2021-02-04 12:00:00,7.71,3.64,7.71,7.71,1014,1014,1014,81,0.00,19,4.11,238,d,NaN,NaN
33,1612450800,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0.00,2021-02-04 15:00:00,7.50,4.51,7.50,7.50,1014,1014,1014,83,0.00,59,2.61,247,d,NaN,NaN
34,1612461600,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,0.00,2021-02-04 18:00:00,5.18,2.43,5.18,5.18,1015,1015,1015,92,0.00,37,2.04,223,n,NaN,NaN
35,1612472400,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,0.00,2021-02-04 21:00:00,4.49,2.55,4.49,4.49,1016,1016,1017,93,0.00,21,0.75,209,n,NaN,NaN
36,1612483200,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0.00,2021-02-05 00:00:00,5.10,2.96,5.10,5.10,1017,1017,1017,90,0.00,53,1.07,164,n,NaN,NaN
37,1612494000,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0.00,2021-02-05 03:00:00,4.96,2.73,4.96,4.96,1017,1017,1017,89,0.00,90,1.12,91,n,NaN,NaN
38,1612504800,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0.00,2021-02-05 06:00:00,4.94,1.68,4.94,4.94,1017,1017,1017,90,0.00,96,2.62,88,n,NaN,NaN
39,1612515600,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0.00,2021-02-05 09:00:00,5.05,1.13,5.05,5.05,1018,1018,1018,89,0.00,99,3.55,74,d,NaN,NaN

In [ ]:
with open('weather_forecast.json', 'w') as outfile:
    json.dump(weather_forecast, outfile)

In [ ]:
df = pd.read_json (r'C:\Users\ams-duongn.EXPEDITORS\Desktop\learn\Data Science Master\M3W2\weather_forecast.json', typ='series')
df.to_csv (r'C:\Users\ams-duongn.EXPEDITORS\Desktop\learn\Data Science Master\M3W2\weather_forecast_data.csv')